{% extends "index.html" %}

{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
  {{ page.content | safe }}
</div>
{% endblock content %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block extra_head %}
      <meta property="og:title" content="{{ page.title }}"/>
      <meta property="og:site_name" content="primitiweb.cz/blog"/>
      <meta property="og:description" content="{{ page.description }}"/>
      {% if page.extra.og_image %}
      <meta property="og:image" content="{{ config.base_url }}img/og/{{ page.extra.og_image }}"/>
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="{{ config.base_url }}img/og/{{ page.extra.og_image }}">
      {% endif %}
{% endblock extra_head %}
